/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

h1 {
    color: #007bff;
}

/* Estilo de formularios */
.form-control {
    margin-bottom: 10px;
}

/* Estilo de botones */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Estilo de la tabla */
.table {
    margin-top: 20px;
}

/* Estilo de la cabecera de la tabla */
.table thead {
    background-color: #007bff;
    color: #fff;
}

/* Estilo de las celdas de la tabla */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo de los botones de búsqueda */
#search {
    width: 80%;
}

/* Estilo del título de búsqueda */
#search-label {
    font-weight: bold;
}

/* Estilo de los mensajes de alerta */
.alert {
    margin-top: 10px;
}
